<!DOCTYPE html>
<html>
<style type="text/css">
    @page {
        size: 45mm 100mm;
        margin: 0;
    }
    @media print { body.ticket { width: 45mm } }
    * {
        font-size: 12px;
        font-family: 'Times New Roman';
    }

    td,
    th,
    tr,
    table {
        border-top: 1px solid black;
        border-collapse: collapse;
    }

    td.producto,
    th.producto {
        width: 75px;
        max-width: 75px;
    }

    td.cantidad,
    th.cantidad {
        width: 40px;
        max-width: 55px;
        word-break: break-all;
    }

    td.precio,
    th.precio {
        width: 40px;
        max-width: 40px;
        word-break: break-all;
    }

    .centrado {
        text-align: center;
        align-content: center;
    }

    .ticket {
        width: 155px;
        max-width: 155px;
    }

    img {
        max-width: inherit;
        width: inherit;
    }
</style>
<body>
<div class="ticket">
    <p class="centrado">{{negocio}}
        <br>{{direccion}}
        <br>{{fecha}}</p>
    <table>
        <thead>
        <tr>
            <th class="cantidad">CANT</th>
            <th class="producto">PRODUCTO</th>
            <th class="precio">$$</th>
        </tr>
        </thead>
        <tbody>
        {{tabladatos}}

        </tbody>
    </table>
    <p class="centrado">¡GRACIAS POR SU COMPRA!
    </p>
</div>
</body>
</html>