<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        font-family: Arial;
    }
    h2, h4{
        text-align: center;
    }
    @page{
        size: a4;
    }
    .customers{
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    .venta{
        width: auto;
    }

    .customers td, .customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>
<body>
<h2>Reporte de Inventario</h2>
<h4>{{negocio}} <br> {{direccion}}</h4>
<table class="customers">
    <tr>
        <th>Codigo de Producto</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Proveedor</th>
        <th>Estado</th>
    </tr>
    {{productos}}

</table>
</body>
</html>