<br>
<table class="customers venta">
    <tr>
        <th>Numero de Venta</th>
        <td>{{venta}}</td>
    </tr>
    <tr>
        <th>Emplado que la realizo</th>
        <td>{{empleado}}</td>

    </tr>
    <tr>
        <th>Total de la venta</th>
        <td>{{total}}</td>
    </tr>
    <tr>
        <th>Fecha de Realizacion</th>
        <td>{{fecha}}</td>
    </tr>
</table>
<br>
<table class="customers">
    <tr>
        <th>Codigo de Venta</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
    </tr>
    {{ventas}}

</table>
<br>
<hr>